body {
  margin: 0;
  color: #ddd;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: #fff;
  /* background-image: linear-gradient(to bottom, #020917, #101725); */
}
.demo {
    color: black !important;
}
